@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

h1,
h2,
h3,
h4 {
  letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: hsl(210, 22%, 49%);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/* copied */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.calculator {
  background: #101010;
  width: 25em;
  margin: 5em auto;
}

.display {
  background: #222;
  color: #fff;
  text-align: right;
  font-size: 1.7em;
  height: 6em;
  line-height: 8em;
  padding: 0 1.5em;
}

.controls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0.7em 0;
  margin: auto 0.5em;
}

.controls button {
  background: #222222;
  color: #fff;
  height: 5.5em;
  cursor: pointer;
  margin: 0.5em;
  border: unset;
  border-radius: 0.5em;
  outline: unset;
}
.controls button:hover {
  background: #333333;
}
.controls button:active {
  transform: translateY(0.5em);
}
.controls .teal {
  background: #005755;
}
.controls .teal:hover {
  background: #006664;
}

@media screen and (max-width: 786px) {
  .calculator {
    width: 100vw;
    height: 100vh;
    margin: auto;
  }
}
